<h1><%= note.title %></h1>

<p><%= note.description %></p>

<a href="/notes/<%= note.id %>/edit">
    <button>Edit</button>
</a>

<form action="/notes/<%= note.id %>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>

<a href="/notes">Back</a>